@use './home';
@use './menu';
@use './contact';

//------------R-E-S-E-T---------------------------------
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
//--------------------------------------------------------------



//page navigation styling-----------------------------------

#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 160px 1fr 50px / 1fr;
    background-color: rgb(24, 24, 24);
    background-image: url(../assets/images/burger.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    footer {
        grid-row: 3 / -1;
        background-color: rgba(14, 14, 14, 0.83);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bolder;
        text-shadow: 1px 1px 1px black;
        font-size: .8em;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(14, 14, 14, 0.83);

    

    p{
        color: rgb(221, 3, 3);
        font-weight: normal;
        position: relative;
        bottom: 12px;
        font-size: .85rem;
        font-style: italic;
        letter-spacing: 3px;
        text-shadow: rgb(0, 0, 0) 1px 1px 1px;
        
    }



    h1 {
        color: whitesmoke;
        text-shadow: 3px 3px 3px black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 4rem;
        border-bottom: rgb(255, 255, 255) 3px double;
    }

    .nav-ul {
        font-family: monospace;
        display: flex;
        cursor: pointer;
        gap: 40px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 1.3rem;
        position: relative;
        left: 12px;
        margin-bottom: 10px;
        

        li {
            padding-bottom: 5px;


            &:hover {
                transition: 0.15s;
                color: rgb(214, 4, 4);
                
            }
        }
    }
}


//------------------------------------------------------------------
